header {
  border-bottom: 1px solid #ececec;
}

.container.head {
  display: flex;
  align-items: center;
  border-bottom: none;
  min-height: 60px;
  padding: 16px 15px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    padding: 21px 15px;
  }
}
